
$degrees: 5deg;

html {
    scroll-behavior: smooth;
  }
#sectionPagination {
  position: fixed;
  top: 50%;
z-index: 99;
  transform: translateY(-50%);
  left: 10px;
  list-style: none;

  li {
   display: flex;
   padding-left: 0;
   align-items: center;
   gap: $app-space_half;
  
   
  

   
 
  }

  a {
 
    text-decoration: none;  
 text-transform: capitalize;
 display: flex;
 align-items: center;
 gap: $app-space_half;
 margin-top: $app-space_half;
 height: 20px;

 i {

 
  border-right:1px solid $light;
  padding-right: 10px;

    color: $primary;
    font-size: 12px;
    transition: all 0.2s ;
 }
 span {
 color: $default;
 font-size: 12px;
 transition: 0.2s;


transition: 0.2s;
}
 &:hover {
  span {
    color: $primary;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
    font-size: 18px;
}
i {

    font-size: 18px;
 }
   
 }
 
  }
  .active {
    
    span {
        color: $primary;
        visibility: visible;
        opacity: 1;
        transition: 0.2s;
        font-size: 18px;
    }
    i {
  
        font-size: 18px;
     }
    
 }
}

@media (max-width: 992px) {
    #sectionPagination {
    background-color: $bg-primary;
    padding: $app-space_half;
    box-shadow: $dark-shadow;
    left: 0;
    border-radius: 0 $btn-round $btn-round 0;
        padding-left: 2%;
      
      
li {
    a {
        padding: 5px;
        span {
            display: none;
        }
        border-bottom: 1px solid $light;
        i {
            border-right: none;
            padding: 0;
        }
       
    }
    
}
      

        .active {
          span {
              display: none !important;
              opacity: 0;
              
          }
        
          
       }
      }
}

